.item {
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
}

.item:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.item-title {
  padding: 3rem 0 !important;
}

.item-text {
  font-size: 0.9rem;
  padding: 0.3rem 1.5rem;
}

.cont {
  overflow: hidden;
}

.cont-size {
  width: 120px !important;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

.item-img-top {
  width: 100%;
  height: auto;
}
